option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: '/'
    Port: 80
    Protocol: HTTP
    TargetGroupArn: arn:aws:elasticloadbalancing:us-east-1:072415053150:targetgroup/cds-hub-law-tg/f108bec98d0dd6e4
