.theme--dark.v-sheet {
    background-color: #121212;
}

.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}

.toolbar-title {
    text-transform: uppercase;
    color: white !important;
}

.padded-text {
    padding: 15px;
}

.theme--dark.v-card .v-card__subtitle, .theme--dark.v-card>.v-card__text {
    color: hsl(0 0% 100% / 1);
    font-weight: bold !important;
    padding-inline: 20px;
}

.no-padding {
    padding: 0;
}

footer .col {
    padding-block: 0;
}

footer .row {
    align-items: center;
    margin-left: 0;
}

footer .v-card__text {
    padding: 6px;
}

.cosmicds-footer {
    background-color: #003186 !important; 
    color: #BDBDBD !important; 
    padding-block: 0;
}

.theme--dark .MathJax {
    color: white !important;
}

.theme--light .MathJax {
    color: black !important;
}

.JaxEquation .MathJax {
    margin: 16px auto !important;
}

.v-container .v-card__text {
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.v-radio label.theme--dark{
    color: white !important;
}
.v-radio label.theme--light{
    color: black !important;
}

.v-alert .v-input--radio-group+.v-alert, .v-dialog .v-input--radio-group+.v-alert {
    background-color: #000b !important;
}

/*.solara-container-main {*/
/*    max-width: 1264px;*/
/*    height: 100%;*/
/*    max-height: 100%;*/
/*    overflow: auto*/
/*}*/