:root {
    /* define light material desing them */
    --primary-light: #1565C0 ;
    --secondary-light: #006064 ;
    --accent-light: #FFD740 ;
    --error-light: #F06292 ;
    --info-light: #FF7043 ;
    --success-light: #388E3C  ;
    --warning-light: #DD2C00 ;
    
    /* define dark material desing them */
    --primary-dark: #0D47A1 ;
    --secondary-dark: #00838F ;
    --accent-dark: #FFC400 ;
    --error-dark: #D81B60 ;
    --info-dark: #BF360C ;
    --success-dark: #00E676 ;
    --warning-dark: #DD2C00 ;
    
    --cosmic-red: #e60001 ;
    --cosmic-blue: #0e397e ;
    
    --cosmic-red-lighter: #ff4d4d ;
    --cosmic-blue-lighter: #1861d8 ;
    
    --cosmic-red-darker: #800000 ;
    --cosmic-blue-darker: #09234e ;
    
    
}

/* media query preferes light color scheme */
@media (prefers-color-scheme: light) {
    :root {
        --primary: var(--primary-light);
        --secondary: var(--secondary-light);
        --accent: var(--accent-light);
        --error: var(--error-light);
        --info: var(--info-light);
        --success: var(--success-light);
        --warning: var(--warning-light);
    }
}

/* media query prefers dark color scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: var(--primary-dark);
        --secondary: var(--secondary-dark);
        --accent: var(--accent-dark);
        --error: var(--error-dark);
        --info: var(--info-dark);
        --success: var(--success-dark);
        --warning: var(--warning-dark);
    }
}


.theme--dark.v-sheet {
    background-color: #121212;
}

.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}

.toolbar-title {
    text-transform: uppercase;
    color: white !important;
}

.padded-text {
    padding: 15px;
}

.theme--dark.v-card .v-card__subtitle, .theme--dark.v-card>.v-card__text {
    color: hsl(0 0% 100% / 1);
    font-weight: bold !important;
    padding-inline: 20px;
}

.no-padding {
    padding: 0;
}

footer .col {
    padding-block: 0;
}

footer .row {
    align-items: center;
    margin-left: 0;
}

footer .v-card__text {
    padding: 6px;
}

.cosmicds-footer {
    background-color: #003186 !important; 
    color: #BDBDBD !important; 
    padding-block: 0;
}

.theme--dark .MathJax {
    color: white !important;
}

.theme--light .MathJax {
    color: black !important;
}

.JaxEquation .MathJax {
    margin: 16px auto !important;
}

.v-container .v-card__text {
    font-size: 18px !important;
    line-height: 1.5 !important;
}

.v-radio label.theme--dark{
    color: white !important;
}
.v-radio label.theme--light{
    color: black !important;
}

.v-alert .v-input--radio-group+.v-alert, .v-dialog .v-input--radio-group+.v-alert {
    background-color: #000b !important;
}

/*.solara-container-main {*/
/*    max-width: 1264px;*/
/*    height: 100%;*/
/*    max-height: 100%;*/
/*    overflow: auto*/
/*}*/